  {% comment %}
  <div class="newsletter_section">

    <div class="container">
      <!-- newsletter
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input" placeholder="email address">
                    <button type="submit" class="button outline-btn newsletter">Submit</button>
                </div>
            </form>
        </div>-->
    </div>

  </div>
  {% endcomment %}
    <div class="container">
        <!-- <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <ul class="footer_links">

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <ul class="footer_links">

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <ul class="footer_links">

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <ul class="footer_links">

                    </ul>
                </div>
            </div>
        </div> -->
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-6">
                <p class="copyright">
                    Copyright &copy; 2022 code4mk . All rights reserved. </p>
            </div>
            <div class="footer-copyright col-xs-12 col-md-2">
                <p class="copyright">
                    <i class="fa fa-code" aria-hidden="true"></i> with <i class="fa fa-heart-o" aria-hidden="true"></i>  </i><a href="https://twitter.com/code4mk" target="_blank">  @code4mk</a> </p>
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa fa-facebook"><a href="https://www.facebook.com/code4mk" target="_blank">Facebook</a></li>
                    <li class="fa fa-twitter"><a href="http://twitter.com/code4mk" target="_blank">Twitter</a></li>
                    <li class="fa fa-github"><a href="https://github.com/code4mk/code4mk.org" target="_blank">Github</a></li>
                    <li class="fa fa-youtube"><a href="https://www.youtube.com/channel/UCGqAiy32kz8DzHduFXCRRjA" target="_blank">Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
