<div class="header">
    <div class="fan"></div>
    <div class="container-fluid">
        <div class="row">
            <nav class="nav-primary">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="logo" src="../images/code4mk-logo.png" alt="code4mk" title="code4mk">
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="primary nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="https://themezero.net" target="_blank">ThemeZero</a></li>
                            <li><a href="https://itnishi.com" target="_blank">Nishi IT Ltd.</a></li>
                            <li><a href="https://twitter.com/code4mk" target="_blank">@code4mk</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course<span class="caret"></span></a>
                                <ul class="dropdown-menu nav-main">
                                    <h6 class="dropdown-header">coming</h6>
                                    <li><a href="#"></a> </li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        </div>
    </div>
    <!-- hero banner text -->
    <div class="container-fluid">
        <div class="row">
            <div class="hero-text">
                <div class="hero-text-centered">
                    <!-- <h1>{{ site.name }}</h1> -->
                    <h1 class="code4mk-design"><i class="fa fa-clone" aria-hidden="true"></i> <span>Code4mk Organization</span> </h1>
                    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>  Let's <i class="fa fa-code" aria-hidden="true"></i> with fun</p>
                    <ul class="buttons">
                        <li><a class="button transparent-btn" href="/web-developer/">Developer</a></li>
                        <li> <a class="button secondary-btn" href="/open-source/">Open source</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- nav-secondary -->
    <!-- data-offset-top should calculated as follows: (height of <header> - header of <nav>) -->
    <nav class="nav-secondary-tabs" data-spy="affix" data-offset-top="385">
        <div class="container-fluid">
            <div class="navbar-collapse" aria-expanded="false" style="height: 1px;">
                {% include navigation.html %}
            </div>
        </div>
    </nav>
</div>
